.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex:15%;
  background-color: #AFEEEE;
  background: url("IMG_3662.jpeg") center/100%;
  aspect-ratio: 6/1;
  background-size: cover;
}
.menu {
  flex:5%;
  background-color: #4682B4;
  color: lightpink;
  display: flex;
}
.menu a:hover{
  background-color: #D3D3D3;
  color:#FAF0E6;
}
.menu a{
  padding: 15px 20px;
}
.content{
  flex:70%;
  background-color: #F0F8FF;
}
.content iframe{
  flex: 1;
  border:none;
  width:100%;
  height:100%;
}
.footer{
  flex:5%;
  background-color:#AFEEEE;
}
h1 {
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
  
